.playlists-container{
    width: 100vw;
    margin-bottom: 10vh;
}

.allplaylists-small-movie-img{
    height: 100px;
    width: 100px;
    object-fit: cover;

}

.each-playlists-preview-container{
    display: flex;
    background-color: rgb(24,21,21,0.8);
    border-radius: 10px;
    margin-bottom: 10px;
    gap: 10px;
    margin-left: 10px;
}

.each-playlists-preview-container::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}


.playlist-card-btn{
    height: 30px;
    width: 50px;
    background-color:transparent;
    border:none;
}

.playlist-card-icon{
    color: white;
   
}

.playlist-btn{
    background-color: rgba(90, 86, 86, 0.8);
    color: white;
    border-radius: 10px;
    padding: 10px;
    border:none;
}

.playlist-btn-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
}
.images-container{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    overflow-x: scroll;
    gap: 10px;
}