.notSignedin-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.notSignedin-text{
    color:whitesmoke;
    padding: 5vw;

}
@media only screen and (min-width:900px) {
    .notSignedin-text{
        width: 50vw;
    }
}