.navbar {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    height: 10vh;  
    background-color: rgba(116, 109, 109, 0.587);
    position:fixed;
    bottom:0;
    width: 100%;
}

.navbar img{
    height: 50px;
    margin: 0 20px;
}
.icon-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar a, a:link, a:visited, a:active, a:hover{
    text-decoration: none;
    color: black;
}
