.login-page{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:60%;
}
