.login-page{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
}

.login-button{
margin-top: 25px;
}
.btn {
    padding: 8px 20px;
    border-radius: 0;
    overflow: hidden;
}