
  @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.hidden{
    display:none;
}
.filters-container{ /*check if necessary when button is done*/
  display: flex;
    justify-content: center;
    flex-direction: column;
}
.title-filters{
    font-family: 'Archivo Black', sans-serif;
    display: flex;
    justify-content: center;
    color:white;
}
.container-genres{
 
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    height:60vh;
}
.checkbox-container{
    height: 30px;
    display:inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(24, 21, 21,0.8);
    border-radius: 10px;
    color:white;
    margin: 10px;
  }

.checkbox-container:hover{
  background-color: rgb(155, 44, 44);
}
.custom-checkbox-label {
    position: relative;
   
    cursor: pointer;
    display: block;
  } 
.checkbox-text{
    padding-left: 15px;
}
  
.custom-checkbox-label input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  
  .custom-checkbox-label:before {
    padding-left: 15px;
    padding-top: 8px;
    content: 'X';
    font-family: Arial, Helvetica, sans-serif;
     position: absolute;
    
    color:rgba(255, 255, 255, 0.39);
    /* width: 20px; 
    height: 20px;  
    */
  }

  .flex-btns{
    justify-content: space-around;
    display: flex;
  }
